<ion-header>
  <ion-toolbar>
    <ion-title>registro</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-fab slot="fixed" vertical="top" horizontal="start">
    <ion-fab-button>
      <ion-icon name="chevron-forward-circle"></ion-icon>
    </ion-fab-button>
    <ion-fab-list side="end">
      <ion-fab-button [routerLink]="['']">
        <ion-icon name="pricetag-outline"></ion-icon>
      </ion-fab-button>
      <ion-fab-button [routerLink]="['registro']">
        <ion-icon name="clipboard-outline"></ion-icon>
      </ion-fab-button>
      <ion-fab-button [routerLink]="['iniciarsesion']" >
        <ion-icon  name="log-in-outline"></ion-icon>
      </ion-fab-button>
      <ion-fab-button [routerLink]="['carro']">
        <ion-icon name="cart-outline"></ion-icon>
      </ion-fab-button>
    </ion-fab-list>
  </ion-fab>
  <ion-list>
    <ion-item>
      <ion-label>Nombre</ion-label>
      <ion-input></ion-input>
    </ion-item>

    <ion-item>
      <ion-label>Apellido</ion-label>
      <ion-input placeholder="Enter company name"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label>Edad</ion-label>
      <ion-input value="121 S Pinckney St #300"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label>Nombre de usuario</ion-label>
      <ion-input value="Madison" [readonly]="true"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label>Contraseña</ion-label>
      <ion-input value="53703" [disabled]="true"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>Fecha de nacimiento</ion-label>
      <ion-input></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>Genero</ion-label>
      <ion-input value="53703" [disabled]="true"></ion-input>
    </ion-item>
  </ion-list>
</ion-content>
