<ion-header>
  <ion-toolbar>
    <ion-title>productoid</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-fab slot="fixed" vertical="top" horizontal="start">
    <ion-fab-button>
      <ion-icon name="chevron-forward-circle"></ion-icon>
    </ion-fab-button>
    <ion-fab-list side="end">
      <ion-fab-button [routerLink]="['']">
        <ion-icon name="pricetag-outline"></ion-icon>
      </ion-fab-button>
      <ion-fab-button [routerLink]="['registro']">
        <ion-icon name="clipboard-outline"></ion-icon>
      </ion-fab-button>
      <ion-fab-button [routerLink]="['iniciarsesion']" >
        <ion-icon  name="log-in-outline"></ion-icon>
      </ion-fab-button>
      <ion-fab-button [routerLink]="['carro']">
        <ion-icon name="cart-outline"></ion-icon>
      </ion-fab-button>
    </ion-fab-list>
  </ion-fab>
</ion-content>
